<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partial/head.ejs") %>

    <title>ProfileImage</title>
</head>
<body>
    <main>
        <%- include("./partial/navbar.ejs") %> 
<div class="container" style="margin-top: 20px;">
        <form action="/user/upload" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="profileImage">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" name="fullName" class="form-control" id="exampleInputPassword1">
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        </div>
    </main>
    <%- include("./partial/script.js") %>
</body>
</html>